<h1>Empresas</h1>
    <p>Formulario para creacion de empresa:</p>

<%= render 'companies/form', company: @company %>

<h2>Listado de compañias:</h2>

<ul id="company_list">
    <%= render @companies %>
</ul>

<%= render 'companies/modal_company' %>